@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main {
  .home-info {
    display: flex;

    .general-info {
      gap: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .description {
        font-size: 0.9em;
      }

      .title {
        color: $appColor;
        font-size: 5em;
        font-family: 'Bold';
        text-transform: uppercase;
        line-height: 80px;
      }

      .about {
        font-size: 1.1em;
      }

      .links {
        display: flex;
        gap: 20px;

        a {
          border-radius: 8px;
          min-width: 230px;
          min-height: 50px;
          color: $appColor;
          border: 2px solid #0082c7bd;
          font-family: 'Bold';
          transition: 0.5s;

          @include flex;
          
          &.active {
            background-color: $appColor;
            color: #fff;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .info-image {
      img {
        margin-top: 5px;
        height: auto;
        max-width: 600px;
        border-radius: 15px;
        box-shadow: 6px 6px 7px #e4e3e3;
      }
    }
  }

  .home-text {
    margin-top: 40px;

    @include flex-column;
    // align-items: flex-start;

    p {
      text-align: center;
    }
  }
}